.credo {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
 .credo {
    padding-top: 95px;
    padding-bottom: 0;
  }
}



.credo__list {
  justify-content: center;
}

.credo__ikon {
  width: auto;
  height: 120px;
  background: var(--work_bg);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credo__svg {
  width: 70px;
  height: 70px;
  fill: var(--black_title_tc);
}

.credo__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black_title_tc);
}
.credo__text {
  margin: 0;
  max-width: 450px;
  height: 50px;
}


@media screen and (max-width: 767px) {
  .credo__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .credo__text {
    max-width: 354px;
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .credo__text {
    max-width: 270px;
    height: 75px;
  }
}