.foot_cont .container {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.logo_f {
  margin-left: auto;
  margin-right: auto;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white_title_tc);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  width: 145px;
}

.btn2 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white_bg);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn_h_bg);
  }

}






.telega_icons_svg {
  width: 24px;
  height: 24px;
  fill: var(--white_bg);
  margin-left: 10px;
}

.address {
  font-style: inherit;
  color: var(--white_title_tc);
}

.address_light {
  color: rgba(255, 255, 255, 0.6);
}

.address_white {
  color: var(--white_title_tc);
}

.menu_f:not(:last-child) {
  margin-bottom: 10px;
}

.footer_list {
  display: block;
  justify-content: space-between;
  text-align: center;
}

.form {
  display: block;
  align-items: center;
}

.mailing {
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  margin-right: 10px;
  outline: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--btn_bg);
  }

  &:invalid {
    color: var(--main_tc);
  }

  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.add {
  margin-top: 60px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white_bg);
  padding-bottom: 20px;
 }




@media screen and (min-width: 768px) {
  .mailing {
    min-width: 368px;
    width: 100%;
  }

  .footer_list {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {

  .logo_f {
    margin-left: 0;
    margin-right: 0;
  }

  .btn2 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .footer_list {
    display: flex;
    text-align: left;

  }

  .form {
    display: inline-flex;
  }

  .add {
    margin-top: 12px;
  }

  


}


