.pth2 {
  margin: 0px;
  padding-bottom: 50px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black_title_tc);
}

@media screen and (min-width: 1200px) {
  .pth2 {
    font-size: 36px;
  }
}