body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main_tc);
}



.link {
  color: inherit;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link {
  text-decoration: none;
  color: var(--btn_bg);
}

.link:hover,
.link:focus {
  color: var(--a_title_tc);
}

.img {
  display: block;
  max-width: 100%;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.thumb {
  position: relative;
  display: block;
  overflow: hidden;
}
