:root {
  --main_tc: #757575;
  --black_title_tc: #212121;
  --white_title_tc: #ffffff;
  --a_title_tc: #2196f3;

  --white_bg: #ffffff;
  --team_bg: #f5f4fa;
  --dark_bg: #2f303a;
  --btn_bg: #2196f3;
  --btn_h_bg: #188ce8;
  --icon_bg: #afb1b8;
  --work_bg: #f5f4fa;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
}

